<turbo-frame id="content">
  <h1>Editing PDFs</h1>
  <p>To edit PDFs add a PDF attachment below and click the button. It should return an edited version of the PDF you uploaded.</p>

  <p>(This page is yet to be finished. Mainly here to test the multiple pages for each "testing lab" area.)</p>
</turbo-frame>