<turbo-frame id="content">
  <h1>Generating PDFs</h1>
  <p>Click the button below to generate a simple PDF.</p>

  <%= button_to "Generate PDF", generate_pdf_testing_labs_hexa_pdf_index_path, method: :get, "data-turbo": false %>
</turbo-frame>