<header class="py-2 px-5 sm:px-10 md:px-20 lg:px-40">
    <nav class="border-2 border-blue-500">
      <div class="container p-6 mx-auto">
        <a class="block text-2xl font-bold text-center text-gray-800 dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300" href="#">
          Teds Lab
        </a>

        <div class="flex items-center justify-center mt-6 text-gray-600 capitalize dark:text-gray-300">

            <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 mx-auto sm:mx-6">
              Blog
            </a>

            <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 mx-auto sm:mx-6">
              Showcases
            </a>

            <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 mx-auto sm:mx-6">
              CV
            </a>
        </div>
      </div>
    </nav>
  </header>