<!-- Hero Section -->
<div class="p-5 md:px-10 lg:px-20 xl:px-40">
  <div class="space-y-5 md:space-y-3 md:grid md:grid-cols-2 md:gap-x-4">
    <!-- left -->
    <div class="md:flex md:flex-col md:justify-center space-y-3 md:space-y-5">
      <h1 class="font-sans text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold leading-snug">Hi! I'm Ted. 👋 <br>Welcome to my Lab. 🧪</h1>
      <p class="font-semibold">This is where I <span>tinker with tech</span> and break things. <br>And hopefully learn something along the way.</p>
    </div>

    <!-- right -->
    <div class="w-full h-96 rounded-lg shadow-lg bg-purple-800">

    </div>
  </div>
</div>

<!-- Feature Section -->
<div class="space-y-5 py-10 md:px-10 lg:px-20 xl:px-40 bg-gray-100 shadow-md shadow-inner">
  <div>
    <h2 class="inline-block font-sans text-xl md:text-2xl font-bold mr-3">Check out my latest blog posts.</h2> <p class="inline-block font-semibold">My little journeys in discovering new technologies.</p>
  </div>
  <div class="space-y-5 md:space-y-0 md:grid md:grid-cols-3 md:gap-x-4">
    <div class="w-full h-full rounded-lg shadow-md bg-gray-200 p-5 hover:bg-gray-300 transition duration-200 ease-in-out transform hover:scale-105 hover:shadow-lg cursor-pointer">
      <h3 class="font-semibold">How I built this website using Tailwind CSS</h3>
    </div>
    <div class="w-full h-full rounded-lg shadow-md bg-gray-200 p-5 hover:bg-gray-300 transition duration-200 ease-in-out transform hover:scale-105 hover:shadow-lg cursor-pointer">
      <h3 class="font-semibold">How this blog system was built</h3>
    </div>
    <div class="w-full h-full rounded-lg shadow-md bg-gray-200 p-5 hover:bg-gray-300 transition duration-200 ease-in-out transform hover:scale-105 hover:shadow-lg cursor-pointer">
      <h3 class="font-semibold">Building PDFs with Prawn PDF</h3>
    </div>
  </div>
</div>