<!-- Hero Section -->
<%= render MainContainer::Component.new do %>
  <div class="space-y-5 md:space-y-0 md:py-5 md:grid md:grid-cols-2 md:gap-x-4">
    <!-- left -->
    <div class="md:flex md:flex-col md:justify-center space-y-3 md:space-y-5">
      <h1>Hi! I'm Ted. 👋 <br>Welcome to my Lab. 🧪</h1>

      <p class="font-semibold md:text-lg lg:text-xl">This is where I <span>tinker with tech</span> and break things. <br>And <em>hopefully</em> learn something along the way.</p>
    </div>

    <!-- right -->
    <div class="w-full h-96 rounded-lg shadow-lg bg-purple-800">

    </div>
  </div>
<% end %>

<!-- Feature Section -->
<%= render MainContainer::Component.new(styles: "md:space-y-5 bg-gray-100 shadow-md shadow-inner") do %>
  <div>
    <h2 class="inline-block font-sans text-xl md:text-2xl font-bold mr-3">Check out my latest blog posts.</h2> <p class="inline-block font-semibold">My little journeys in discovering new technologies.</p>
  </div>
  <div class="space-y-5 md:space-y-0 md:grid md:grid-cols-3 md:gap-x-6">
    <% @posts.each do |post| %>
      <%= render Card::Component.new(title: post.title, description: l(post.published_on), link: post.permalink) %>
    <% end %>
  </div>
<% end %>